main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100;
}
.home-introduction {
	width: 1200px;
	margin: 40px auto;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 20px 10px;
	grid-template-areas: ". .";
	text-align: start;
	font-size: 20px;
}

.home-introduction div h1 {
	letter-spacing: 3px;
	line-height: 40px;
	padding-left: 6px;
}

.home-introduction div p {
	margin-bottom: 20px;
	padding-left: 6px;
	font-size: 16px;
}

.home-introduction-buttons {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start !important;
}

.home-introduction-buttons button {
	font-size: 16px;
	width: 205px;
	height: 40px;
	border-radius: 20px;
	margin: 10px;

	cursor: pointer;
}

.home-introduction-buttons :first-child {
	color: white;
	background-color: rgba(159, 35, 0, 1);
	border: 1px solid rgba(159, 35, 0, 1);
}

.home-introduction-buttons :first-child:hover {
	color: rgba(159, 35, 0, 1);
	background-color: white;
	border: 1px solid rgba(159, 35, 0, 1);
	transition: all 0.2s;
}

.home-introduction-buttons :last-child {
	background-color: white;
	border: 1px solid rgba(159, 35, 0, 1);
	color: rgba(159, 35, 0, 1);
}

.home-introduction-buttons :last-child:hover {
	border: 1px solid rgba(159, 35, 0, 1);
	background-color: rgba(159, 35, 0, 1);
	color: white;
	transition: all 0.2s;
}

.home-introduction :last-child {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Line Box */
.linebox {
	display: flex;
	align-items: center;
	background-color: rgba(254, 246, 235, 1);

	height: auto;
	width: 100%;
	margin: 100px 0px;
}

.linebox .content {
	width: 1200px;
	margin: 0 auto;
	flex-wrap: wrap;
	row-gap: 20px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding: 40px;
}

.linebox .content .text {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.linebox h3,
small {
	color: black !important;
}

.linebox .trace {
	width: 32px;
	height: 6px;
	background-color: black;
	margin-bottom: 5px;
}

.linebox h3 {
	margin: 0 30px;
	font-weight: bolder;
	letter-spacing: 3px;
}

.linebox small {
	font-weight: 550;
	font-size: 9px;
}


/* Nossas Soluções Content */
.nossas-solucoes-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.nossas-solucoes-content h1 {
	letter-spacing: 2px;
}

.nossas-solucoes-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 800px;
	height: 55px;
	text-align: center;
	padding: 0 20px;

	margin-top: 30px;
	margin-bottom: 30px;
	border: 1px solid  rgba(159, 35, 0, 1);
	border-radius: 50px;
	padding-left: 50px;
	padding-right: 50px;
}

.nossas-solucoes-menu .menu-select {
	position: absolute;
	background-color: rgba(159, 35, 0, 0.2);
	height : 55px;
	width: 235px;
	border: 1px solid rgba(159, 35, 0, 1);
	border-radius : 50px;
	left: 0px;
}

.nossas-solucoes-screen {
	display: flex;
	flex-direction: row;
	width: 800px;
	justify-content: space-between;
}

.nossas-solucoes-screen .image {
	width: 300px;
	height: 300px;
	border: 1px solid black;
}

.nossas-solucoes-screen .text {
	width: 400px
}

.nossas-solucoes-screen .text h2, p{
	margin-bottom: 20px;
}

.nossas-solucoes-screen .text p{
	margin-bottom: 30px;
}

.nossas-solucoes-screen button {
	width: 140px;
	height: 40px;
	border-radius: 20px;

	cursor: pointer;

	color: white;
	background-color: rgba(159, 35, 0, 1);
	border-color: rgba(159, 35, 0, 1);
}

/* Media Queries */
@media (max-width: 1300px) {
	.home-introduction {
		width: 50%;
		grid-template-columns: 1fr;
		grid-template-rows: 2fr;
		gap: 20px 10px;
		grid-template-areas: ".";
	}

	.home-introduction .image{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 150px;
	}
}

@media (max-width: 910px) {
	.linebox .content {
		justify-content: space-around;
	}

	.home-introduction .image image {
		height: 300px;
		width: 300px;
	}
}

